In [209]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from datetime import datetime
from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date
from numpy import genfromtxt
from time import time
from datetime import datetime
import csv
from sqlalchemy import *
from datetime import datetime
from sqlalchemy import inspect

In [210]:
 dfmeasurements = pd.read_csv("Resources/clean_hawaii_measurements.csv")
dfmeasurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [211]:
dfstations=pd.read_csv("Resources/clean_hawaii_stations.csv")
dfstations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [212]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [213]:
conn = engine.connect()

In [214]:
#measurements.__table__.drop(engine)
Base = declarative_base()

class Measurements(Base):
    __tablename__ = 'measurements'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Date)
    prcp = Column(Float)  
    tobs = Column(Float)

In [215]:
class Stations(Base):
    __tablename__ = 'stations'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(String)
    latitude = Column(Float)  
    longitude = Column(Float)
    elevation = Column(Float)

In [216]:
Base.metadata.create_all(engine)

In [217]:
dfmeasurements['date'] = pd.to_datetime(dfmeasurements['date'], format = '%Y-%m-%d')

In [222]:
data = dfmeasurements.to_dict(orient='records')
data1= dfstations.to_dict(orient='records')

In [223]:
print(data[:1])
#print(data)

[{'station': 'USC00519397', 'date': Timestamp('2010-01-01 00:00:00'), 'prcp': 0.08, 'tobs': 65}]

In [225]:
print(data[:1])

[{'station': 'USC00519397', 'date': Timestamp('2010-01-01 00:00:00'), 'prcp': 0.08, 'tobs': 65}]

In [226]:
metadata = MetaData(bind=engine)
metadata.reflect()
measurements_tbl = sqlalchemy.Table('measurements', metadata, autoload=True)

In [227]:
stations_tbl = sqlalchemy.Table('stations', metadata, autoload=True)

In [228]:
 conn.execute(measurements_tbl.delete())

In [233]:
 conn.execute(stations_tbl.delete())

In [234]:

conn.execute(stations_tbl.insert(), data1)

In [236]:
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [237]:
conn.execute(measurements_tbl.insert(), data)

In [238]:
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0)]